body{
    display: flex;
    justify-content: center;
}

body div{
    align-items: center;
    text-align: center;
}

table thead{
    background-color:gray; color:black
}

.table-odd tbody tr:nth-child(odd){
    background-color: lightgray
}

.table-hover tbody tr:hover{
    background-color: darkgrey;
    color: #727272
}

h2{color:green}